* {
    text-align: center;
    margin: 5px;
    background-color: lightgrey;
}

input {
    background-color: white;
}

button {
    background-color: indianred;
    color: white;
    border-radius: 20em;
    padding: 10px;
}
h1 {
    font-size: x-large;
}

h1 {
    color: indianred;
}

.vhs {
    float: left;
}

a {
    text-decoration: none;
    color: black;
}

.tm {
    float: right;
}

.quiz-intro {
    padding: 100px;
}